@model ChangePasswordVM

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="login-container">
    <h1>Change Password</h1>
    <hr />
    <form asp-action="ChangePassword" method="post">
        <div asp-validation-summary="All" class="text-danger mb-3"></div>

        <div class="mb-3">
            <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="Current Password" required>
        </div>

    
        <div class="mb-3">
            <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" required>
        </div>

        <div class="mb-3">
            <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Confirm New Password" required>
        </div>

     
        <button type="submit" class="btn btn-primary">UPDATE PASSWORD</button>
    </form>


    <div class="forgot-password">
        <p><a asp-action="LogIn">Back to Login</a></p>
    </div>
</div>


@section ValidationScriptSection {
        <partial name="_ValidationScriptsPartial" />
}
